<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        <span id="sp">欢迎: {{nickname}}</span> <span><a href="/users/logout">退出</a></span>
    </p>
    <div>
        <a href="/member/reg">注册会员</a>
    </div>
    <div>
        <a href="/member/info">会员信息查询</a>
    </div>
    <div>
        <a href="/member/rech">会员充值</a>
    </div>
    <div>
        <a href="/member/consume">会员消费</a>
    </div>
    <div>
        <a href="/member/member_list">会员名单</a>
    </div>
</body>
</html>





